@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

$font-family1: 'Bangers', sans-serif;
$font-family2: 'Comic Neue', sans-serif;
$colorOne: black;
$colorTwo: white;
$colorThree: rgb(11, 227, 11);
$colorFour: rgba(255, 255, 255, 0.286); 